* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
nav {
    display: flex;
    align-items: center;
    padding: 15px 30px;
}
a {
    margin: 5px;
    padding: 10px;
    opacity: 0.7;
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
}
a:hover {
    opacity: 1;
}
.main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 24px;
}
.main ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main ul li {
    box-sizing: border-box;
    list-style: none;
    width: 23%;
    padding: 30px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin: 0 1% 16px;
    align-self: stretch;
    text-align: center;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 560px;
    margin: 0 auto;
}
input {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    outline: none;
}
form button {
    padding: 8px 32px;
    cursor: pointer;
    width: 80%;
}
.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.post h1 {
    margin-bottom: 32px;
}
